@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", serif;
  font-size: 18px;
  font-weight: 400;
}

/* Шрифты */

.title-w-64 {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  color: #fff;
}
.title-w-32 {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #fff;
}
.title-b-64 {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  color: #151515;
}

.description-w-24 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: #fff;
}

.tag-w-16 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}